.sidebar.animated.fadeInDown
  .logo-title
    .title
      .apple-music
      a(href="https://geo.music.apple.com/cn/album/thank-u-next/1450330588?mt=1&app=music&ls=1" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/embed/v1/app-icon.svg) no-repeat;width:40px;height:40px;")
      img(src= url_for('images/logo@2x.png'),style="width:110px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.facebook
      li
        a(href="http://facebook.com/" + theme.facebook)
          i.fa.fa-facebook
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa.fa-github
    if theme.pic
      li
        a(href="https://500px.com.cn/" + theme.pic)
          i.fa.fa-500px

  include footer
